<div class="page-content">

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
      <div>
        <h4 class="mb-3 mb-md-0">Settings</h4>
      </div>
    </div>

    <div class="row" id="account_details">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Settings</h6>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Default Audio Folder</label>
                        {% if settings[0]['audio_folder'] == None %}
                            <input name="audio_folder" value="" type="text" class="form-control" placeholder="C:\">
                        {% else %}
                            <input name="audio_folder" value="{{ settings[0]['audio_folder'] }}" type="text" class="form-control">
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Default Video Folder</label>
                        {% if settings[0]['video_folder'] == None %}
                            <input name="video_folder" value="" type="text" class="form-control" placeholder="C:\">
                        {% else %}
                            <input name="video_folder" value="{{ settings[0]['video_folder'] }}" type="text" class="form-control">
                        {% endif %}
                    </div>

                    <button id="update_settings" type="submit" class="btn btn-primary mr-2">Update</button>
                    
                  </div>
                </div>
        </div>
      
    </div> <!-- row -->

    <script src="{{ url_for('static', filename='assets/js/template.js') }}"></script>
        

</div>