<tbody id="video_body">
    {% for x in range(video_objects|length) %}
    <tr>
      <td>{{ x + 1 }}</td>
      <td>{{ video_objects[x]['website'] }}</td>
      <td>{{ video_objects[x]['link']|truncate(55) }}</td>
      <td>{{ video_objects[x]['date'] }}</td>

      <td>
        {% if video_objects[x]['status'] == 'Complete' %}
        <span class="badge badge-success">{{ video_objects[x]['status'] }}</span>
        {% elif video_objects[x]['status'] == 'Idle' %}
        <span class="badge badge-danger">{{ video_objects[x]['status'] }}</span>
        {% elif video_objects[x]['status'] == 'Downloading' %}
        <span class="badge badge-primary">{{ video_objects[x]['status'] }}</span>
        {% endif %}
      </td>

      <td>
        {% if video_objects[x]['status'] == 'Idle' or video_objects[x]['status'] == 'Complete' %}
        <a href="#" style="color:white;" id="start_video_download" task_id="{{ video_objects[x]['_id'] }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
        </a>
        {% else %}
        <a href="#" style="color:white;" id="stop_video_download" task_id="{{ video_objects[x]['_id'] }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
        </a>
        {% endif %}
        <a href="#" style="color:white;" id="open_video_file" task_id="{{ video_objects[x]['_id'] }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
        </a>
        <a href="#" style="color:white;" id="delete_video_task" task_id="{{ video_objects[x]['_id'] }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
        </a>
      </td>
    </tr>
    {% endfor %}
</tbody>